@import 'breakpoints';

.thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    // aspect-ratio: 1200/630;

    @include small {
        // width: 128px;
        align-self: flex-start;
        width: 256px;
    }
}

.job {
    display: flex;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    color: black;
    text-decoration: none;
    gap: 24px;
    margin-bottom: 2em;
    flex-flow: row wrap;
    padding: 16px;
    max-width: 448px;
    margin-inline: auto;

    @include small {
        flex-flow: row;
        padding: 24px;
        max-width: 100%;
        transition: all .3s;

        &:hover {
            box-shadow: 0 0 20px #e6e6e6;
            color: inherit;
        }
    }

    &__descr {
        color: #666666;
    }
}

.container {
    max-width: 768px;
    padding: 32px 0 0;

    @include small {
        padding: 32px;
    }
}