@import "breakpoints";

.job {
    max-width: 64ch;
    margin-inline: auto;
    padding: 32px 0;
}

.title {
    line-height: 1.1;
    margin-bottom: 1.4em;
    font-weight: 600;
}

// .content {
//     line-height: 1.6;
//     white-space: pre-line;
//     max-width: 700px;
// }

.image {
    border-radius: 6px;
    width: 102%;
    max-width: none;
    justify-self: center;

    &__wrapper {
        border-radius: 6px;
        overflow: hidden;
        display: grid;
        margin-bottom: 1em;
        border: solid 1px #eee;
    }
}

.meta {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 8px;

    &__title {
        display: block;
        line-height: 32px;
    }

    &__client {
        line-height: 32px;
    }
}

.pill {
    display: inline-block;
    padding: 0 16px;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    background: var(--icterine);
    text-transform: lowercase;
}

.pills {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-bottom: 2em;
    line-height: 32px;
}

.links {
    margin-bottom: 3em;
}

.link {
    display: block;
}

.text {
    margin-bottom: 1em;
    white-space: pre-line;
}

.back {
    background-image: url('../public/back.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;

    @include small {
        display: block;
    }
}

.header {
    margin-bottom: 32px;
}